# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.env
.venv
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific massive files/folders
models/
input_videos/
output_videos/
stubs/
training/
runs/
development_and_analysis/
spacex_ref/
yolov8x.pt

# Jupyter notebooks
.ipynb_checkpoints
*.ipynb
